[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-scripts/vim-airline.git
[submodule "bundle/vim-pyunit"]
	path = bundle/vim-pyunit
	url = https://github.com/nvie/vim-pyunit.git
[submodule "vim-c-cr"]
	path = vim-c-cr
	url = https://github.com/jtmkrueger/vim-c-cr.git
[submodule "bundle/vim-c-cr"]
	path = bundle/vim-c-cr
	url = https://github.com/jtmkrueger/vim-c-cr.git
[submodule "bundle/BracketComplete"]
	path = bundle/BracketComplete
	url = https://github.com/vim-scripts/BracketComplete.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/nose.vim"]
	path = bundle/nose.vim
	url = https://github.com/lambdalisue/nose.vim.git
